CODE=""

#bucket s3
ENDPOINT_URL=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
REGION_NAME="us-east-1"
SIGNATURE_VERSION="s3v4"
BUCKET_NAME=""

#mlflow
MLFLOW_URL=""
MLFLOW_USER=""
MLFLOW_PASSWORD=""
MLFLOW_BUCKET_NAME=""

MILVUS_ENDPOINT=""
MILVUS_PORT=
MILVUS_USERNAME=""
MILVUS_PASSWORD=""
MILVUS_COLLECTION=""